<!-- SUCCESS MESSAGE -->
<% if (typeof message !== "undefined" && message) { %>
<div role="alert" class="alert alert-success">
  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span><%= message %></span>
</div>
<% } %>

<!-- ERROR MESSAGE -->
<% if (typeof error !== "undefined" && error) { %>
<div role="alert" class="alert alert-error">
  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span><%= error %></span>
</div>
<% } %>

<h1 class="text-xl">Xin chào: <%= user.name %></h1>

<form action="/kich-hoat-tai-khoan" method="post" class="mt-4">
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Họ và tên</span>
    </div>
    <input
      disabled
      type="text"
      value="<%= user.name %>"
      placeholder="Type here"
      class="input input-sm input-bordered input-primary w-full"
    />
  </label>
  <label class="form-control w-full">
    <div class="label">
      <span class="label-text">Địa chỉ email</span>
    </div>
    <input
      disabled
      type="text"
      value="<%= user.email %>"
      placeholder="Type here"
      class="input input-sm input-bordered input-primary w-full"
    />
  </label>

  <div class="mt-6 flex items-center space-x-3">
    <p>
      Trạng thái tài khoản: <% if (user.verified) { %>
      <span class="text-primary">Đã kích hoạt</span>
      <% } else { %>
      <span class="text-error">Chưa kích hoạt</span>
      <% } %>
    </p>

    <% if (!user.verified) { %>
    <button type="submit" class="btn btn-sm">Kích hoạt ngay</button>
    <% }%>
  </div>
</form>
